<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Change Request</title>
</head>
<body>
    <p>Dear {{o.username}},</p>     
    <p>Your online account for Change Request System had been created  on {% now "jS F Y H:i" %}, you may now access the panel by following details: .</p>
    <BR>
    <p>Login ID: {{o.email}}<P>
    <p>Password: Same as your REDtone email Password<P>
    <p>System URL: https://apps.redtone.com:8585/crsystem <P>

 <BR>
    
    <p>From,  </p>
    <p>Change Request System </p>
</body>
</html>
