<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
{% load staticfiles %}
<link rel='stylesheet' href ="{% static 'personal/css/bootstrap.min.css' %}" type='text/css'/>
<link rel='stylesheet' href ="{% static 'personal/css/timeline.css' %}" type='text/css'/>
</head>
<body>

<div class="form-group form-group-sm">
        {% include "personal/_message.html" %}

                 {% for o in list %}
                 <BR><input type="text" class="form-control" placeholder="Assign To"  id="assignto"  name="assignto" value="{{o.assignto}}" readonly="true"/>                            
                 
              {% endfor %}
        </div> 
    </div>                  
</div>
</div>
                            
</body>
</html>

