{% extends "personal/layout.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'personal/js/lib/jquery.easing.js' %}"></script>
<script src="{% static 'personal/js/lib/angular.min.js' %}"></script>
<script src="{% static 'personal/js/lib/angular-route.min.js' %}"></script>
<script src="{% static 'personal/js/lib/angular-animate.min.js' %}"></script>
<script src="{% static 'personal/js/lib/angular-sanitize.min.js' %}"></script>
<script src="{% static 'personal/js/lib/angular-messages.min.js' %}"></script>
<script src="{% static 'personal/js/lib/angular-strap.min.js' %}"></script>
<script src="{% static 'personal/js/lib/angular-strap.tpl.min.js' %}"></script>
<script src="{% static 'personal/js/lib/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
<script src="{% static 'personal/js/lib/ui-utils.min.js' %}"></script>
<script src="{% static 'personal/js/lib/underscore-min.js' %}"></script>
<script src="{% static 'personal/js/lib/bootbox.min.js' %}"></script>
<script src="{% static 'personal/js/utils.js' %}"></script>
<script src="{% static 'personal/js/route.js' %}"></script>
<script src="{% static 'personal/js/app.js' %}"></script>
<script src="{% static 'personal/js/filters.js' %}"></script>
<script src="{% static 'personal/js/services.js' %}"></script>

<div id="page-wrapper" ng-app="mvcapp">

    <div class="container-fluid">
        {% include "personal/_message.html" %}

        <div class="row">

            <div class="box box-info" >
           
                {% if model.id > 0 %}

                <form class="form-horizontal" method="post" action="{% url 'update' model.id %}">

                {% else %}
                <form id= "userreq" class="form-horizontal" method="post" action="{% url 'submit' %}">
                    
                      <h4 class="box-title">Import Template</h4>
                         <div class="panel panel-default" ng-controller="IndexCtrl"> 
                         <div class="panel-body">  

                    
                          {% for o in listtemp %}
                                {%if forloop.counter >= 0 %}

                                     <div class="list-group"> 
                                        <div class="list-group-item"> 
                                        <i class="fa fa-bell fa-fw"></i>  {{o.title_line}} for {{o.app.name}}&nbsp; &nbsp;<a href="#" ng-click="showedittemplate({{o.id}})"><i class="glyphicon glyphicon-eye-open" title="View Template"data-toggle="modal" data-target="#myModal"></i></a> &nbsp; &nbsp;<a href="{% url 'edit' o.id %}"><i class="fa fa-cloud-download" title="Import Template"></i></a><span class="pull-right text-muted small"><em>Created on {{o.reqdate}} </em> </span> </div> 
                                    </div>

                                {%else%}
                                 No Template Available.
                            {% endif %} 
                        {% endfor %}  
                         </div>
                        </div>  
                    
                {% endif %}

                <div class="col-lg-12">
                    <h3 class="page-header"></h3>
                </div>

                    <input type="hidden" value="{{model.id}}" />
                    
                    {% csrf_token %}
                    <div class="box-body">
                        {% if model.id > 0 %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Request ID:</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" placeholder="Request ID"  id="reqid" readonly="true" name="reqid" value="{{ model.id|stringformat:"i" }}" />                                   
                            </div>
                        </div>


                        {% endif %}

                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Application Name</label>
                            <div class="col-xs-4">
                                {% if request.user.is_approver and model.id %}
                                <p class="form-control-static">{{model.app.name}}</p>
                                 {% elif request.user.is_approver == 0 and model.id %}
                                <p class="form-control-static">{{model.app.name}}</p>
                                {% else %}
                                <select class="form-control" name="app">
                                    {% for i in applist %}
                                    <option value="{{i.id}}" {% if i.id == model.app.id %}selected="selected"{% endif %}>{{i.name}}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>

                        <label class="col-xs-2 control-label">Head of your Department Approver </label>
                            <div class="col-xs-4">
                                {% if request.user.is_approver and model.id%}
                                <p class="form-control-static">{{model.approver.username}} ({{model.approver.email}})</p>
                                 {% elif request.user.is_approver == 0 and model.id and model.reqstatus == 9 %}
                                    <select class="form-control" name="approver">
                                        <option value="">Please Select</option>
                                        {% for i in apprvlist %}
                                        <option value="{{i.id}}" {% if i.id == model.approver.id %}selected="selected"{% endif %}>{{i.username}} ({{i.email}})</option>
                                        {% endfor %}
                                    </select>
                                 {% elif request.user.is_approver == 0 and model.id %}
                                    <p class="form-control-static">{{model.approver.username}} ({{model.approver.email}})</p>
                               
                                {% else %}
                                    <select class="form-control" name="approver">
                                        <option value="">Please Select</option>
                                        {% for i in apprvlist %}
                                        <option value="{{i.id}}" {% if i.id == model.approver.id %}selected="selected"{% endif %}>{{i.username}} ({{i.email}})</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}      
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Change Requestor</label> 
                            {% if model.id %}
                            <div class="col-xs-4">
                                <p class="form-control-static">{{model.requser}}</p>
                            </div>
                            
                             {% else %}
                             <div class="col-xs-4">
                                <p class="form-control-static">{{request.user.username}} ({{request.user.email}})</p>
                            </div>
                            {% endif %} 

                        {% if model.reqstatus != 0 and model.reqstatus != 9 %}
                         <label class="col-xs-2 control-label">RND Approver</label>
                            <div class="col-xs-4">
                                {% if request.user.is_approver and model.id %}
                                <p class="form-control-static">mingching(mingching.tiew@redtone.com)</p>

                                {% elif request.user.is_approver == 0 and model.id %}
                                <p class="form-control-static">mingching(mingching.tiew@redtone.com)</p>
                                {% else %}
                                <select class="form-control" name="approver">
                                    <option value="">Please Select</option>
                                    {% for i in apprvlist %}
                                    <option value="{{i.id}}" {% if i.id == model.approver.id %}selected="selected"{% endif %}>{{i.username}} ({{i.email}})</option>
                                    {% endfor %}
                                </select>
                                {% endif %}      
                            </div>
                            {% endif %}   
                        </div>
                         
                        <div class="form-group form-group-sm">
                         {% if request.user.is_approver and model.id and model.reqstatus == 4 and request.user.id == 10%}
                         <label class="col-xs-2 control-label">Current Status</label>
                            <div class="col-xs-4">
                                <select class="form-control" name="reqstatus" value="{{model.reqstatus}}" disabled="disabled">
                                    <option {% if model.reqstatus == 0 %} selected="selected" {% endif %} value="0">{{model.reqstatusstr}}</option>
                                
                                </select>
                            </div>
                            {% endif %}
                            
                            

                            <label class="col-xs-2 control-label">Status</label>
                            <div class="col-xs-3">

                                {% if request.user.is_approver and model.id and model.reqstatus == 4 and request.user.id == 10%}
                                <select class="form-control" name="reqstatus" value="{{model.reqstatus}}" >
                                    <option {% if model.reqstatus == 1 %} selected="selected" {% endif %} value="1">Approve</option>
                                    <option {% if model.reqstatus == 2 %} selected="selected" {% endif %} value="2">Reject</option>
                                    <option {% if model.reqstatus == 3 %} selected="selected" {% endif %} value="3">Cancel</option>
                                          
                                </select>
                               
                                {% elif request.user.is_approver and model.id and model.reqstatus == 0 %}
                                <select class="form-control" name="reqstatus" value="{{model.reqstatus}}" >
                                    <option {% if model.reqstatus == 4 %} selected="selected" {% endif %} value="4">Approve</option>
                                    <option {% if model.reqstatus == 2 %} selected="selected" {% endif %} value="2">Reject</option>
                                    <option {% if model.reqstatus == 3 %} selected="selected" {% endif %} value="3">Cancel</option>
                                          
                                </select>
                               

                                 {%elif request.user.is_approver and model.id and model.reqstatus == 1 %}
                                 <select class="form-control" name="reqstatus" value="{{model.reqstatus}}" disabled="disabled">
                                <option {% if model.reqstatus == 0 %} selected="selected" {% endif %} value="0">{{model.reqstatusstr}}</option>
                                </select>

                                 {%elif request.user.is_approver == 0 and model.id and model.reqstatus == 1 %}
                                <select class="form-control" name="reqstatus" value="{{model.reqstatus}}" >

                                    <option {% if model.reqstatus == 5 %} selected="selected" {% endif %} value="5">In Progress</option>
                                    <option {% if model.reqstatus == 6 %} selected="selected" {% endif %} value="6">Fixed/Done</option>       
                                </select>
                                
                                 {%elif request.user.is_approver == 0 and model.id and model.reqstatus == 5 %}
                                <select class="form-control" name="reqstatus" value="{{model.reqstatus}}">
                                    
                                    <option {% if model.reqstatus == 5 %} selected="selected" {% endif %} value="5">In Progress</option>
                                    <option {% if model.reqstatus == 6 %} selected="selected" {% endif %} value="6">Fixed/Done</option>       
                                </select>
                                {%elif request.user.is_approver == 0 and model.id and model.reqstatus == 9 %}
                                    <select class="form-control" name="reqstatus" value="{{model.reqstatus}}" disabled="disabled">
                                    <option {% if model.reqstatus == 0 %} selected="selected" {% endif %} value="0">Open</option>
                                    </select>
                                {%elif request.user.is_approver == 0 and model.reqstatus == 0 %}
                                    <select class="form-control" name="reqstatus" value="{{model.reqstatus}}" disabled="disabled">
                                    <option {% if model.reqstatus == 0 %} selected="selected" {% endif %} value="0">Open</option>
                                </select>
                               
                                 {% else %} 

                                <select class="form-control" name="reqstatus" value="{{model.reqstatus}}" disabled="disabled">
                                <option {% if model.reqstatus == 0 %} selected="selected" {% endif %} value="0">{{model.reqstatusstr}}</option>
                                
                                </select>
                                {% endif %} 
                            </div>
                        </div>
                       
                       
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Title</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Title"  id="title"  name="title" value="{{model.title}}" />                                    
                            </div>

                         {% if request.user.is_approver and model.id and model.reqstatus == 4 and request.user.id == 10%}

                             <label class="col-xs-2 control-label">Assign To</label>
                            <div class="col-xs-3">
                                <select name="assignto" class="form-control select2" multiple="multiple">
                                    <option value="">Please Select</option>
                                    {% for i in userlist %}
                                    <option value="{{i.email}}" {% if i.id == model.user.id %}selected="selected"{% endif %}>{{i.username}} ({{i.email}})</option>
                                    {% endfor %}
                                </select>                                      
                            </div>

                            
                            {%elif request.user.is_approver and model.id and model.reqstatus == 1 %}
                                <label class="col-xs-2 control-label">Assign To</label>
                                
                                    <div class="col-xs-2">
                                    {% for a in assignlist %}
                                    <BR><input type="text" class="form-control" placeholder="Assign To"  id="assignto"  name="assignto" value="{{a.assignto}}" readonly="true"/>{% endfor %} </div>                       
                                


                            {%elif model.id and model.reqstatus == 1 or  model.reqstatus == 5 or model.reqstatus == 6%}
                            <label class="col-xs-2 control-label">Assign To</label>
                           

                                    <div class="col-xs-2">
                                     {% for a in assignlist %}
                                    <BR><input type="text" class="form-control" placeholder="Assign To"  id="assignto"  name="assignto" value="{{a.assignto}}" readonly="true"/>{% endfor %} </div>                       
                                
                                {%else%}
                                
                                {% endif %}
                        </div>

                        {% if request.user.is_approver and model.id and model.reqstatus == 0 %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" >{{model.description1}}</textarea>
                            </div>
                        </div>

                        {%elif request.user.is_approver and model.id and model.reqstatus == 4 and request.user.id == 10%}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true" >{{model.description1}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">RND Remark</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description2" name="description2" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" >{{model.description2}} </textarea>
                            </div>
                        </div>
                        {%elif request.user.is_approver and model.id and model.reqstatus == 4 %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true" >{{model.description1}}</textarea>
                            </div>
                        </div>
                         
                        {%elif request.user.is_approver and model.id and model.reqstatus == 2 %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description1}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">RND Remark</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description2" name="description2" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description2}}</textarea>
                            </div>
                        </div>
                         {%elif request.user.is_approver == 0 and model.id and model.reqstatus == 1 or model.id and model.reqstatus == 5 or model.reqstatus == 3 %}

                          <input type="hidden" name="assignto" value="{{model.assignto}}" />
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true" >{{model.description1}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">RND Remark</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description2" name="description2" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description2}}</textarea>
                            </div>
                        </div>

                        {%elif request.user.is_approver == 0 and model.id and model.reqstatus == 0 or model.reqstatus == 9  %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" >{{model.description}}</textarea>
                            </div>
                        </div>
                        
                         {%elif request.user.is_approver == 0 and model.id and model.reqstatus == 4 %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true"  >{{model.description}}</textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true" >{{model.description1}}</textarea>
                            </div>
                        </div>
                        {%elif request.user.is_approver and model.id and model.reqstatus == 1 or model.reqstatus == 5 or model.reqstatus == 2 or model.reqstatus == 3 %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true" >{{model.description1}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">RND Remark</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description2" name="description2" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description2}}</textarea>
                            </div>
                        </div>
                        {%elif request.user.is_approver and model.id and model.reqstatus == 1 and request.user.id == 10%}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true" >{{model.description1}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">RND Remark</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description2" name="description2" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" >{{model.description2}}</textarea>
                            </div>
                        </div>

                        {%elif request.user.is_approver and model.id and model.reqstatus > 5 %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true" >{{model.description1}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">RND Remark</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description2" name="description2" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description2}}</textarea>
                            </div>
                        </div>
                         {%elif request.user.is_approver == 0 and model.id and model.reqstatus > 5 %}
                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Head Remark </label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description1" name="description1" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true" >{{model.description1}}</textarea>
                            </div>
                        </div>
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">RND Remark</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description2" name="description2" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" readonly="true">{{model.description2}}</textarea>
                            </div>
                        </div>
                        {% else %} 
                         <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Task Description</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" id="description" name="description" value="" style="margin-top: 0px; margin-bottom: 0px; height: 120px;" >{{model.description}}</textarea>
                            </div>
                        </div>
                         
                       {% endif %} 

                        <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label">Remark</label>
                            <div class="col-xs-9">
                                <textarea  class="form-control"  name="remark" value="" style="margin-top: 0px; margin-bottom: 0px; height: 100px;">{{model.remark}}</textarea>                          
                            </div>
                        </div>

                   

                        {% if not assignlist and not model.requser.id %}
                        <div class="col-xs-10 col-xs-offset-2">

                        <button class="btn btn-success btn-submit" type="submit">Submit</button>
                        {% elif showsubmit %}
			             <div class="col-xs-10 col-xs-offset-2">
                        <button class="btn btn-success btn-submit" type="submit">Submit</button>
                        </div> <br>
                        {% endif %}
                        <br>
                    </div>

                </form>
            <div class="form-group form-group-sm"> 
                {% if request.user.id == model.requser_id and model.reqstatus == 6 and model.id and model.verified != 1 %}
                    <form class="form-horizontal" action="{% url 'verified' model.id  %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                         <label class="col-xs-4 control-label"></label>
                            <div class="col-md-4 col-md-offset-4">
                            
                                <button class="btn btn-success btn-danger" type="submit">Task Verified</button>
                            </div>
                             

                        {% endif %}
                    
                </form>
                </div>
                </BR>
                </BR>


                <div class="form-group form-group-sm"> 
                {% if request.user.is_staff and model.id %}
                    <form class="form-horizontal" action="{% url 'pushnotify' model.id  %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                         <label class="col-xs-4 control-label"></label>
                            <div class="col-md-4 col-md-offset-4">
                            
                                <button class="btn btn-success btn-danger" type="submit">Push Notification</button>
                            </div>
                             

                        {% endif %}
                    </div>
                </form>

                {% if model.id > 0 and model.reqstatus < 6 or model.reqstatus == 9 %}    
                <form class="form-horizontal" action="{% url 'uploadedit' model.id  %}" method="post" enctype="multipart/form-data" target="frm">
                    {% if request.user.is_approver or model.requser.id == request.user.id or model.assignto == request.user.email or model.assignto == request.user.id or  model.requser.id == ''%} 
                        {% csrf_token %}
                    <input type="hidden" value="{{model.id}}" />
                    <div class="form-group form-group-sm">
                        <label class="col-xs-2 control-label">Upload File</label>                     

                        <div class="col-xs-6">
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-xs-6 col-xs-offset-2">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-cloud-upload"></i>Upload</button>
                        </div>
                    </div>
                     {% endif %}
                </form>

                  <div class="form-group form-group-sm">
                            <label class="col-xs-2 control-label"></label> 
                           
                            <div class="col-xs-10">         
                            <iframe name="frm" style="width: 45%; height: 100px; border: 0" src="{% url 'uploadeditlist' model.id %}"></iframe>
                            {% elif model.reqstatus == 0 %}
                            <form class="form-horizontal" action="{% url 'uploadcreate' %}" method="post" enctype="multipart/form-data" target="frm">
                               

                                {% csrf_token %}
                                <div class="form-group form-group-sm">
                                    <label class="col-xs-2 control-label">Upload File</label>

                                    <div class="col-xs-6">
                                        <input type="file" name="file" />
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <div class="col-xs-6 col-xs-offset-2">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-cloud-upload"></i> Upload</button>
                                        </div>
                                </div>
                           
                            </form>
                                 </div>
                       <div class="col-xs-4"> 
                        <iframe name="frm" style="width: 150%; height: 110px; border: 0" src="{% url 'uploadcreatelist'  %}"></iframe>
                    
                            {% elif model.reqstatus == 6 %} 

                                <div class="form-group form-group-sm">

                        <label class="col-xs-2 control-label">Uploaded File :</label>
                            <iframe name="frm" style="width: 45%; height: 100px; border: 0" src="{% url 'uploadeditlist' model.id %}"></iframe>
                            <form class="form-horizontal" action="{% url 'uploadcreate' %}" method="post" enctype="multipart/form-data" target="frm">
                                {% csrf_token %}
                                
                                
                            </form>
                            </div>
                            </div>
                        {% endif %}
                        
                    </div>


                </div>

                    {% if model.id > 0 and model.reqstatus <= 6%}  
                    <div class="form-group form-group-sm">                       

                       <ul class="nav nav-tabs">
                           <li class="active"><a href="#tab1default" data-toggle="tab">History</a></li> 
                           <li><a href="#tab2default" data-toggle="tab">Comment</a></li>
                                
                        </ul>

                    <div class="tab-pane fade in active" id="tab1default">
                        <iframe name="frm" style="width: 100%; height:200px; border: 0" src="{% url 'history' model.id %}"></iframe></div>

                    <div class="tab-pane fade " id="tab2default"> 
                        <iframe name="here" style="width: 100%; height:200px; border: 0" src="{% url 'comment' model.id %}"></iframe>
                              <form class="form-horizontal" action="{% url 'createcomment' model.id %}" method="post" enctype="multipart/form-data"  target="here" >
                               {% csrf_token %}
                                <input type="hidden" name="appsid" value="{{model.id}}" />
                                <input type="hidden" name="email" value="{{request.user.email}}" />
                                       
                            <div class="col-xs-6">
                                <textarea  class="form-control"  name="comment" value="" style="margin-top: 0px; margin-bottom: 0px; height: 80px;"></textarea>                          
                            </div>
                                    
                            <div class="col-xs-2 ">
                                <button class="btn btn-success btn-submit" type="submit">Comment</button>
                            </div>
                          </form>
                       
                        
                    </div> 
                </div>   

            {% endif %}

               
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.select2').select2({
        placeholder: "Assign To "
    });
});


</script>
<script src="{% static 'personal/js/templatelist/controller.js' %}"></script>

{% endblock %}
